.searchpagewrap{
    align-content: center;
    justify-content: center;
  }
  
  .pagesearchbar{
    width: 80px;
    height: 10px;
    background-color: gray;
    justify-content: center;
  }

  .searchHeader{
      align-content: left;
      justify-content: left;
  }