
  .footer-info  {
    display: bottom;
    justify-content: center;
  }

  .footer{
    margin-top: 150px;
  }
  
  .footer-left, .footer-center, .footer-right {
    font-size: x-small;
    display: bottom;
    flex-direction: row;
    margin-bottom: 80px;
    width: 30%;
  }
  
  .footer-info-name, .footer-info-email, .footer-info-number {
    margin-bottom: 10px;
  }
  
  .footer-details {
    text-align: start;
  }
  
  .footer-info-email, .footer-info-terms {
    text-align: center;
  }
  
  .footer-info-number, .footer-story {
    text-align: end;
  }
  
  .footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-seperator {
    flex-grow: 1;
    border: 1px solid blue;
    height: 1px;
    background-color: blue;
    width: 100%;
  }
  
  .footer-name {
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom__name {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
    margin: 0px 20px;
  }