.Header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .headerTitle{
    background-color: rgb(0, 174, 255);
    border: none;
    display: flex;
  }
  
  
  .headerItem{
    float: center;
    float: center;
    display: block;
    color: black;
    text-decoration-color: black;
    background-color: rgb(0, 174, 255);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    width: flex;
    height: 40px;

  }
  
  .headerItem:hover {
    background-color: yellow;
  }
  
  .nav_link{
    align-content: center;
  }