.Header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .headerTitle{
    background-color:rgb(86, 51, 214);
    border: none;
    display: flex;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }

  
  
  .headerItem{
    background-color:rgb(86, 51, 214);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 16%;
    color:black;
    text-decoration-color: black;
    font-family: 'Times New Roman', Times, serif;
  }

  .Headerdiv{
    width: 100%;
    background-color:rgb(86, 51, 214);
    color: white;
  }

  
  
  .headerItem:hover {
    background-color: rgb(240, 0, 140);
  }
  
  .nav_link{
    align-content: center;
    color:black;
    background-color:black;
  }