.Header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .headerTitle{
    background-color:rgb(86, 51, 214);
    border: none;
    display: flex;
  }

  
  
  .headerItem{
    background-color:rgb(86, 51, 214);
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    color:black;
    text-decoration-color: black;
  }

  
  
  .headerItem:hover {
    background-color: rgb(52, 7, 156);
  }
  
  .nav_link{
    align-content: center;
    color:black;
    background-color:black;
  }