.Heading{
    text-align: start;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
  
  }

  .button{
    background-color: blue;
    border: 1px solid blue;
    justify-content: center;
  }

  .HomePage{
    align-content: center;
    width: 550px;
    height: 550px;
  }

  .paragraph1{
    align-content: center;
  }