.searchpagewrap{
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    width: 800px;
    height: 800px;
  }
  
  .pagesearchbar{
    width: 1000px;
    height: 80px;
    text-align: center;
    background-color: white;
    justify-content: center;
  }

  .pagesearchbar input {
    font-size: 200%;
    width: 100px;
  }
  .searchHeader{
      align-content: left;
      justify-content: left;
  }

  .searchEntry{
    padding: 10px 20px;
    border: 1px solid black;
    border-top: none;
  }

  .searchButton{
    margin-left: 100px;
    margin-bottom: 250px;
  }

  body{
    background-color: white;
}