.searchpagewrap{
    align-content: center;
    justify-content: center;
  }
  
  .pagesearchbar{
    width: 500px;
    height: 80px;
    text-align: center;
    background-color: white;
    justify-content: center;
  }

  .searchHeader{
      align-content: left;
      justify-content: left;
  }

  .searchEntry{
    padding: 10px 20px;
    border: 1px solid black;
    border-top: none;
  }