.App{
  align-content: right;
  vertical-align:middle;
  position: relative;
  width:100px;
  height: 100px;
  display: flex;
}

.registration{
  align-content: left;
  justify-content: center;
}

.login{
  align-content:left;
}

.name-wrap{
  align-content:center;
  justify-content:flex;
  margin: 5px auto;
}

.Fname{
  justify-self: left;
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 3px black;
}

.Sname{
  justify-self: right;
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 3px black;
}

.user-wrap{
  align-content:center;
  justify-content:flex;
  margin: 5px auto;
}
.username{
  justify-content: center;
  align-content: right;
  border: 3px black;
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  height: 40px;
  background-color: white;
}

.password{
  justify-content: center;
  align-content: right;
  border: 3px black;
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  height: 40px;
  background-color: white;
}

.button1{
  background-color: blue;
  width: 80px;
  height: 40px;
}

.button2{
  background-color: blue;
  width: 80px;
  height: 40px;
}

.loginUsername{
  align-content: left;
  border: 3px black;
  width: 400px;
  height: 40px;
  background-color: white;
}

.loginPassword{
  justify-content: center;
  align-content: left;
  border: 3px black;
  width: 400px;
  height: 40px;
  background-color: white;
}

.Heading{
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  align-self: left;
}